/* Initially hide the mobile menu */
.mobile-menu {
    display: none;
}

/* Styling for mobile nav icon */
.mobile-nav {
    display: none; /* Hide by default on larger screens */
}

.mobile-nav i {
    font-size: 25px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    body{
        overflow-x:hidden;
    }
    nav .menu {
        display: none;
    }

    .mobile-nav {
        display: block;
        text-align: right;
        padding: 0 20px;
    }

    .mobile-menu.active {
        display: block;
    }

    .mobile-menu {
        list-style-type: none;
        padding: 0;
        background: linear-gradient(rgba(255, 255, 227, 0.9) 0%, rgba(254, 250, 188, 0.9) 100%);
        height: fit-content;
        position: absolute;
        text-align: center;
        z-index: 100;
    }

    nav .mobile-menu li {
        padding: 10px 0;
    }

    .mobile-nav i {
        font-size: 30px;
    }

    nav.active .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: lightyellow;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    nav.active .menu li {
        margin-bottom: 10px;
    }

    .header-heading p {
        font-size: 22px !important;
        letter-spacing: 2px !important;
    }

    #header .container {
        background-image: linear-gradient(90deg, rgba(255, 255, 227, 0.7) 0%, rgba(254, 250, 188, 0.7) 100%) !important;
        display: flex !important;
        min-height: 600px !important;
    }
    #work .work-container {
        grid-template-columns: 1fr;
    }

    #about,
    #challenges,
    #work,
    #contact{
        padding: 10px;
    }

    #skills{
        padding: 60px !important;
    }
    .work-box {
        margin-bottom: 40px;
    }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("img/lemons.jpeg") center/cover fixed;
}

main {
    padding-bottom: 100px;
}

section {
    padding-top: 100px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.container {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding: 32px;
    margin-inline: auto;
}

.bg {
    background: linear-gradient(rgba(255, 255, 227, 0.7) 0%, rgba(254, 250, 188, 0.7) 100%);
}


nav {
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    z-index: 99;
    background-color: lightyellow;
}

nav ul {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

nav ul li {
    height: 40px;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.6s ease;
}

nav ul li a {
    color: inherit;
}

nav ul li:hover,
.active {
    border-bottom: 2px solid coral;
    box-shadow: 5px 10px 30px #f3d5ae;
}


/***home***/

#header {
    min-height: 768px;
}

#header .container {
    background-image: url("img/main_transparent.png"), linear-gradient(90deg, rgba(255, 255, 227, 0.7) 0%, rgba(254, 250, 188, 0.7) 100%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#header .bg {
    min-height: 700px;
    height: fit-content;
}


.header-heading {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-heading h1 {
    font-size: 50px;
    letter-spacing: 2px;
}

.header-heading h2 {
    font-size: 24px;
}

.header-heading p {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: justify;
}

.header-heading h1 span {
    color: orange;
}

.header-btn {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: black;
    box-shadow: 5px 10px 30px lightsalmon;
    border-radius: 10px;
    margin-top: 16px;
    transition: background-color 0.6s ease-in-out;
    font-size: 20px;
}

.header-btn:hover {
    background-color: darkorange;
}


/***about***/
#about .container,
#challenges .container,
#work .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.about-container > div {
    width: clamp(400px, calc((100% - 32px) / 2), 600px)
}


.about-paragraph {
    text-align: center;
}

.about-img {
    width: 100%;
    height: 100%;
}

.about-img img {
    width: 100%;
}

.about-text {
    align-self: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.about-text p {
    font-size: 24px;
    text-align: justify;
}


/***challenges***/


#challenges .bg
#about .bg {
    height: fit-content;
}

/***skills***/

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.skill {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 30px #f3d5ae;
    font-size: 20px;
}

/***work***/

.work-heading {
    text-align: center;
}

.work-heading h2 {
    margin-bottom: 8px;
}

.work-heading p {
    font-size: 24px;
}

.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.work-box {
    min-height: 700px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
    align-items: flex-start;
    box-shadow: 4px 10px 12px rgba(0, 0, 0, 0.4);
}

.work-img {
    width: 100%;
    height: 250px;
}

.work-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work-text {
    width: 100%;
    height: 100%;
    padding: 0 16px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    text-align: justify;
}

.work-text ul {
    font-size: 20px;
    padding: 0 20px;
    text-align: justify;
    flex-grow: 1;
    letter-spacing: 1px;
}

.work-text ul li {
    list-style: disc;

}

/***personal***/

.personal-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.personal-fact {
    line-height: 1.5;
}

.personal-fact ol li {
    margin-left: 50px;
    list-style: decimal;
}

.personal-fact {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 30px #f3d5ae;
    font-size: 20px;
}


/***contact***/

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
    padding-top: 50px;
}

#contact a {
    color: inherit;
}

#contact h4 {
    line-height: 1.5;
}