html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: floralwhite;*/
    background: linear-gradient(90deg, rgba(255,255,255, 0.6) 0%, rgba(255,255,255, 0.6) 100%), url("img/lemons.jpeg") center/cover fixed;

}

ul {
    list-style: none;
}
a{
    text-decoration: none;
}
button {
    outline: none;
    border: none;
}
input {
    outline: none;
    border: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: lightyellow;
}

nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 17px;
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    transition: 0.6s ease;
}

nav ul li a:hover,
.active{
    border-bottom: 2px solid coral;
    box-shadow: 5px 10px 30px #f3d5ae;
}


/***home***/

#header{
    width: 98%;
    height: 768px;
    background-repeat: no-repeat;
    position: relative;
    margin-inline: auto;
    margin-top: 160px;
    background-size: contain;
    background-image: url("img/main_transparent.png");
    background-position: right;
    background-color: lightyellow;
}


.header-heading{
    width: 620px;
    position: absolute;
    left: 23%;
    top:50%;
    color: black;
    transform: translate(-18%, -50%);
}

.header-heading h1{
    font-size: 59px;
    margin: 0;
    letter-spacing: 3px;
}

.header-heading p{
    font-size: 29px;
    margin: 0;
    letter-spacing: 2px;
    text-align: justify;
}

.header-heading h1 span{
    color: orange;
}
.header-btn{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    box-shadow: 5px 10px 30px lightsalmon;
    border-radius: 10px;
    color: black;
    margin-top: 25px;
    transition: 0.6s ease-in-out;
    font-size: 20px;
}
.header-btn:hover{
    background-color: darkorange;
}


/***about***/

#about, #challenges{
    width: 100%;
    box-sizing: border-box;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 50px;
}


.about-paragraph {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    width: 80%;
    margin-left: 10%;
    }

.about-back-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 800px;
}
.about-text{
    width: 45%;
    color: black;
}

.about-text h2{
    width: 500px;
    font-size: 2rem;
    font-weight: 600;
}
.about-text p{
    width: 550px;
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
}


/***challenges***/

#challenges{
    width: 98%;
    margin: 0 auto;
    background-color: lightyellow;
}


/***skills***/


#skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    position: relative;
}

/***work***/

#work{
    width: 98%;
    height: 140vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    margin: 0 auto;
    background-color: lightyellow;

}
.work-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-box{
    background-color: #fefee2;
    width: 430px;
    height: 800px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 10px 12px rgba(0,0,0,0.4);
    position: relative;
}
.work-img{
    width: 100%;
    height: 50%;
}
.work-img img{
    width: 100%;
    height: 100%;

}
.work-text{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    text-align: justify;
}
.work-text p{
    text-align: justify;
    margin: 0 15px;

}
.work-heading{
    text-align: center;
    color: black;
    margin: 20px 0;
}
.work-heading h1{
    font-size: 2.5rem;
}
.work-heading p{
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
}


/***contact***/

#contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    position: relative;
}

#contact .contact-back-img,
#skills .skills-back-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("img/sliced-lemons.jpg");*/
    /*background-image: url("img/lemons.jpeg");*/
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}